/*** Styles ***/

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins");


/*** General Styles ***/
* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}


/*** Variables ***/
:root {
  /* Header and Footer background, information text  */
  --color-1: #1F2937; 

  /* Header main text, logo text */
  --color-2: #F9FAF8;

  /* Header secondary text, header link text, quote*/
  --color-3: #E5E7EB;

  /* Button */
  --color-4: #3882F6;

  /* Basketball ball icon, header links hover */
  --color-5: #FA8320;

  /* About section */
  --color-6: #FFFFFF;
}

/*** Wrapper ***/
.wrapper {
}

/*************************** Header ***/
.header {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 1rem 10rem 8rem;
  background-color: var(--color-1);
}

/*** Header Menu ***/
.menu {
  display: inherit;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu .logo a{
  font-size: 1.5rem;
  color: var(--color-2);
}

.logo-icon {
  margin: 0 0.1rem;
  color: var(--color-5);
}

.menu nav ul {
  display: flex;
  flex-flow: row wrap;
}

.menu nav a, .message p {
  padding: 0 1rem;
  font-size: 1.125rem;
  color: var(--color-3);
}

/*** Heading***/
.heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.message {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.message h1 {
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--color-2);
}

.message h1 span {
  color: var(--color-5);
}

.message p {
  padding: 0;
}

.picture {
  display: flex;
  align-items: center;
}

/*** Buttons ***/
.btn {
  width: 35%;
  height: 8vh;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-2);
  background-color: var(--color-4);
}


/*** Main ***/
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/*** About ***/
.about {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  padding: 1.5rem 10rem 10rem;
  background-color: var(--color-6);
}

.about h2 {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  font-weight: bolder;
  color: var(--color-1);
}

.about .about-container {
  display: flex;
  gap: 2rem;
}

.about .about-feature {
  width: 180px;
  height: 200px;
}

.about .about-feature img {
  width: 180px;
  height: auto;
  border: 5px solid var(--color-4);
  border-radius: 20px;
  overflow: hidden;
}

.about .about-feature p {
  font-size: 1.125rem;
  text-align: center;
}

/*** Quote ***/
.quote {
  padding: 5rem 10rem;
  font-style: italic;
  font-size: 2.25rem;
  color: var(--color-1);
  background-color: var(--color-3);
  opacity: 0.8;
}

/*** Call ***/
aside {
  padding: 4.5rem 10rem;
  background-color: var(--color-6);
}

.call {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  border: none;
  border-radius: 10px;
  background-color: var(--color-4);
}

.call-message {
  color: var(--color-6);
}

.call-message p {
  margin-top: -1.5rem;
}

.call .btn {
  width: 20%;
  border: 1px solid white;
}

/*** Footer ***/
.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 10rem;
  color: var(--color-6);
  background-color: var(--color-1);
}